.header{
    background-color: darkcyan; 
    padding: "30px";
    display: flex;
    justify-content: space-between;
}
.grid{
    background-color: cornflowerblue;
    padding: "30px";
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.item{
background-color: crimson;
margin: 10px ;
color: white;
}